{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "HyperOne API",
      "url": "https://api.hyperone.com/v1"
    }
  ],
  "info": {
    "version": "0.0.2",
    "title": "HyperOne API"
  },
  "security": [
    {
      "Session": [],
      "Project": []
    },
    {
      "ServiceAccount": []
    }
  ],
  "paths": {
    "/service": {
      "get": {
        "summary": "List",
        "description": "List service",
        "operationId": "service_list",
        "parameters": [
          {
            "name": "type",
            "description": "Filter by type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "description": "Filter by resource",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "service"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/service"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/service/{serviceId}": {
      "get": {
        "summary": "Get",
        "description": "Returns a single service",
        "operationId": "service_show",
        "tags": [
          "service"
        ],
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "description": "ID of service",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "List",
        "description": "List user",
        "operationId": "user_list",
        "parameters": [],
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/user"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}": {
      "get": {
        "summary": "Get",
        "description": "Returns a single user",
        "operationId": "user_show",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_delete",
        "tags": [
          "user"
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/credential/password": {
      "get": {
        "summary": "/credential/password",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_list_credentialpassword",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/credential.password"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/credential/password",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_post_credentialpassword",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_post_credentialpassword"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.password"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/credential/password/{id}": {
      "get": {
        "summary": "/credential/password/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_get_credentialpassword_id",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.password"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/credential/password/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_patch_credentialpassword_id",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_patch_credentialpassword_id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.password"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "/credential/password/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_delete_credentialpassword_id",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/credential/certificate": {
      "get": {
        "summary": "/credential/certificate",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_list_credentialcertificate",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/credential.certificate"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/credential/certificate",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_post_credentialcertificate",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_post_credentialcertificate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/credential/certificate/{id}": {
      "get": {
        "summary": "/credential/certificate/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_get_credentialcertificate_id",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/credential/certificate/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_patch_credentialcertificate_id",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_patch_credentialcertificate_id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "/credential/certificate/:id",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_delete_credentialcertificate_id",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/tag": {
      "get": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_get_tag",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_patch_tag",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_patch_tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/{userId}/tag/{key}": {
      "delete": {
        "summary": "/tag/:key",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "user_delete_tag_key",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project": {
      "post": {
        "summary": "Create",
        "description": "Create project",
        "operationId": "project_create",
        "tags": [
          "project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "List",
        "description": "List project",
        "operationId": "project_list",
        "parameters": [
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$limit",
            "description": "Filter by $limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "active",
            "description": "Filter by active",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "organisation",
            "description": "Filter by organisation",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessRights.id",
            "description": "Filter by accessRights.id",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "description": "Filter by tag",
            "required": false,
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject"
          }
        ],
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/project"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}": {
      "get": {
        "summary": "Get",
        "description": "Returns a single project",
        "operationId": "project_show",
        "tags": [
          "project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Update",
        "description": "Returns modified project",
        "operationId": "project_update",
        "tags": [
          "project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_delete",
        "tags": [
          "project"
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/limit": {
      "get": {
        "summary": "/limit",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_list_limit",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/project.limit"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/accessrights": {
      "get": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_list_accessrights",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accessrightsUserRole"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_post_accessrights",
        "tags": [
          "project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_post_accessrights"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/accessrights/{id}": {
      "delete": {
        "summary": "/accessrights/:id",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_delete_accessrights_id",
        "tags": [
          "project"
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/credentialStore/certificate": {
      "get": {
        "summary": "/credentialStore/certificate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_list_credentialStorecertificate",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/credential.certificate"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/credentialStore/certificate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_post_credentialStorecertificate",
        "tags": [
          "project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_post_credentialStorecertificate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/credentialStore/certificate/{id}": {
      "get": {
        "summary": "/credentialStore/certificate/:id",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_get_credentialStorecertificate_id",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/credentialStore/certificate/:id",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_patch_credentialStorecertificate_id",
        "tags": [
          "project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_patch_credentialStorecertificate_id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "/credentialStore/certificate/:id",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_delete_credentialStorecertificate_id",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credential.certificate"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/services": {
      "get": {
        "summary": "/services",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_list_services",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/project.services"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/services/{serviceId}": {
      "get": {
        "summary": "/services/:serviceId",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_get_services_serviceId",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.services"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/tag": {
      "get": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_get_tag",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_patch_tag",
        "tags": [
          "project"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/project_patch_tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/tag/{key}": {
      "delete": {
        "summary": "/tag/:key",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_delete_tag_key",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/project/{projectId}/queue": {
      "get": {
        "summary": "/queue",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "project_list_queue",
        "tags": [
          "project"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation": {
      "post": {
        "summary": "Create",
        "description": "Create organisation",
        "operationId": "organisation_create",
        "tags": [
          "organisation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "List",
        "description": "List organisation",
        "operationId": "organisation_list",
        "parameters": [
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billing.company",
            "description": "Filter by billing.company",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$limit",
            "description": "Filter by $limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "active",
            "description": "Filter by active",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "accessRights.id",
            "description": "Filter by accessRights.id",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "description": "Filter by tag",
            "required": false,
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject"
          }
        ],
        "tags": [
          "organisation"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/organisation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}": {
      "get": {
        "summary": "Get",
        "description": "Returns a single organisation",
        "operationId": "organisation_show",
        "tags": [
          "organisation"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Update",
        "description": "Returns modified organisation",
        "operationId": "organisation_update",
        "tags": [
          "organisation"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}/actions/transfer_accept": {
      "post": {
        "summary": "/actions/transfer_accept",
        "description": "Action transfer_accept",
        "operationId": "organisation_action_transfer_accept",
        "tags": [
          "organisation"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_action_transfer_accept"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organisation/{organisationId}/actions/payment_assign": {
      "post": {
        "summary": "/actions/payment_assign",
        "description": "Action payment_assign",
        "operationId": "organisation_action_payment_assign",
        "tags": [
          "organisation"
        ],
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_action_payment_assign"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organisation/{organisationId}/accessrights": {
      "get": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_list_accessrights",
        "tags": [
          "organisation"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accessrightsUserRole"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_post_accessrights",
        "tags": [
          "organisation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_post_accessrights"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}/accessrights/{id}": {
      "delete": {
        "summary": "/accessrights/:id",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_delete_accessrights_id",
        "tags": [
          "organisation"
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}/tag": {
      "get": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_get_tag",
        "tags": [
          "organisation"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_patch_tag",
        "tags": [
          "organisation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/organisation_patch_tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}/tag/{key}": {
      "delete": {
        "summary": "/tag/:key",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_delete_tag_key",
        "tags": [
          "organisation"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organisation.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/organisation/{organisationId}/queue": {
      "get": {
        "summary": "/queue",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of organisation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "organisation_list_queue",
        "tags": [
          "organisation"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall": {
      "post": {
        "summary": "Create",
        "description": "Create firewall",
        "operationId": "firewall_create",
        "tags": [
          "firewall"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_create"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "get": {
        "summary": "List",
        "description": "List firewall",
        "operationId": "firewall_list",
        "parameters": [
          {
            "name": "name",
            "description": "Filter by name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "description": "Filter by tag",
            "required": false,
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "style": "deepObject"
          }
        ],
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/firewall"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}": {
      "get": {
        "summary": "Get",
        "description": "Returns a single firewall",
        "operationId": "firewall_show",
        "tags": [
          "firewall"
        ],
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "Update",
        "description": "Returns modified firewall",
        "operationId": "firewall_update",
        "tags": [
          "firewall"
        ],
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "Delete",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_delete",
        "tags": [
          "firewall"
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/actions/attach": {
      "post": {
        "summary": "/actions/attach",
        "description": "Action attach",
        "operationId": "firewall_action_attach",
        "tags": [
          "firewall"
        ],
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_action_attach"
              }
            }
          },
          "required": true
        }
      }
    },
    "/firewall/{firewallId}/actions/detach": {
      "post": {
        "summary": "/actions/detach",
        "description": "Action detach",
        "operationId": "firewall_action_detach",
        "tags": [
          "firewall"
        ],
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/actions/transfer": {
      "post": {
        "summary": "/actions/transfer",
        "description": "Action transfer",
        "operationId": "firewall_action_transfer",
        "tags": [
          "firewall"
        ],
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_action_transfer"
              }
            }
          },
          "required": true
        }
      }
    },
    "/firewall/{firewallId}/ingress": {
      "get": {
        "summary": "/ingress",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_list_ingress",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "createdOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "string",
                        "default": ""
                      },
                      "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "modifiedBy": {
                        "type": "string",
                        "default": ""
                      },
                      "priority": {
                        "type": "number"
                      },
                      "action": {
                        "type": "string",
                        "enum": [
                          "allow",
                          "deny"
                        ]
                      },
                      "filter": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "external": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "internal": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "priority",
                      "action"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/ingress",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_post_ingress",
        "tags": [
          "firewall"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_post_ingress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/ingress/{ruleId}": {
      "get": {
        "summary": "/ingress/:ruleId",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_get_ingress_ruleId",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "/ingress/:ruleId",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_delete_ingress_ruleId",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/egress": {
      "get": {
        "summary": "/egress",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_list_egress",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "createdOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "createdBy": {
                        "type": "string",
                        "default": ""
                      },
                      "modifiedOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "modifiedBy": {
                        "type": "string",
                        "default": ""
                      },
                      "priority": {
                        "type": "number"
                      },
                      "action": {
                        "type": "string",
                        "enum": [
                          "allow",
                          "deny"
                        ]
                      },
                      "filter": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "external": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "internal": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "priority",
                      "action"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/egress",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_post_egress",
        "tags": [
          "firewall"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_post_egress"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/egress/{ruleId}": {
      "get": {
        "summary": "/egress/:ruleId",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_get_egress_ruleId",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "summary": "/egress/:ruleId",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ruleId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_delete_egress_ruleId",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdBy": {
                      "type": "string",
                      "default": ""
                    },
                    "modifiedOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string",
                      "default": ""
                    },
                    "priority": {
                      "type": "number"
                    },
                    "action": {
                      "type": "string",
                      "enum": [
                        "allow",
                        "deny"
                      ]
                    },
                    "filter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "internal": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "priority",
                    "action"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/accessrights": {
      "get": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_list_accessrights",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accessrightsProject"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "summary": "/accessrights",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_post_accessrights",
        "tags": [
          "firewall"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_post_accessrights"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/accessrights/{identity}": {
      "delete": {
        "summary": "/accessrights/:identity",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identity",
            "in": "path",
            "description": "identity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_delete_accessrights_identity",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "202": {
            "description": "operation queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/services": {
      "get": {
        "summary": "/services",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_list_services",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/firewall.services"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/services/{serviceId}": {
      "get": {
        "summary": "/services/:serviceId",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_get_services_serviceId",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall.services"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/tag": {
      "get": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_get_tag",
        "tags": [
          "firewall"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "patch": {
        "summary": "/tag",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "firewall_patch_tag",
        "tags": [
          "firewall"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_patch_tag"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall.tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/firewall/{firewallId}/tag/{key}": {
      "delete": {
        "summary": "/tag/:key",
        "parameters": [
          {
            "name": "firewallId",
            "in": "path",
            "description": "ID of firewall",
[...]
